# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo

# Arquivos de ambiente virtual
env/
venv/
*.env

# Arquivos de logs
*.log

# Dados gerados
*.json
*.parquet
*.csv

# Configurações do sistema
.DS_Store
Thumbs.db
